*.iml
.gradle/
**/build/
/local.properties
local.properties
.DS_Store
/captures
.externalNativeBuild
.cxx
*.apk
*.aab
*.ap_
*.dex
*.class
bin/
gen/
out/
.idea/
*.keystore
*.jks
google-services.json
.kotlin/
